<div class="component">
    <div class="body">
        <div class="welcome">页面列表</div>


        <div class="list">
            <a routerLink="/login">登录</a>
        </div>

        <div class="list">
            <a routerLink="/register">注册</a>
        </div>

        <div class="list">
            <a routerLink="/account">账户</a>
        </div>

        <div class="list">
            <a routerLink="/forget">忘记密码</a>
        </div>

        <div class="list">
            <a routerLink="/admin">用户列表{{test}}</a>
        </div>

    </div>
</div>