.component {
    margin: 100px auto;
    width: 550px;
    /* height: 480px; */
    overflow: hidden;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(236, 239, 240);
    /* border: 1px solid red; */
}

.welcome {
    color: grey;
    font-size: 140%;
    font-weight: bold;
    padding: 20px;
    /* border: 1px solid red; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

input {
    /* 去掉获得焦点时的外边框 */
    outline: 0;
    width: 320px;
    height: 50px;
    margin: 15px;
    border-radius: 25px;
    border: 0;
    text-align: center;
    font-size: 130%;
    border: 1px solid rgb(207, 205, 205);
}

button {
    outline: 0;
    width: 320px;
    height: 50px;
    margin: 15px;
    color: white;
    border-radius: 25px;
    background-color: #23ac5b;
    font-size: 130%;
}

.tips {
    color: red;
    font-size: 80%;
}


/* 底部 */

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.login-way {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-way img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.bottom-text {
    font-size: 90%;
    color: grey;
    margin-left: 10px;
}